<ion-view view-title="title here" class="applist ">
  <ion-content class="gray-light-bgrnd" >
    <ion-list>
<!--   with href
     
    <ion-item class="card item item-ion" ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}" style="margin: 5px!important; ">
 
-->
     
      <ion-item class="card item item-ion" ng-repeat="playlist in playlists"  style="margin: 5px!important; ">
       <div class="row">
           <div class="col col-25 image_placeholder">
                 <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=60%C3%9775&w=70&h=75" alt="{{playlist.id}}icon">
            </div>
            
           <div class="col ">
                   <p style="color:#218BCA;  font-weight: 500;">{{playlist.title}}</p>
                   <p> version:</p>
                   <p> Updated:</p>
                   <p class="" style="white-space: normal;" > {{playlist.description | limitTo : 50}}</p>

            </div>
            <div class="col-25" >
                  <button class="button button-positive"type="button" name="button" style="font-size: 14px !important; width: 100%; padding-left: 10px;padding-right: 10px; line-height: unset; min-height: 30px; margin-top: 30px;" ng-click="install(playlist.id)"> Install </button>
            </div>
       </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
